[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "pylint btledstrip"

[packages]
bleak = "*"

[dev-packages]
pylint = "*"
sphinx = "*"
myst-parser = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
